:root {
  --ff1: "Raleway", sans-serif;
  --ff2: "Oswald", sans-serif;
  --ff3: "Roboto", sans-serif;
  --col1: #F57500;
  --col2: #252525;
  --col3: #303030;
  --col4: #3C3C3C;
  --col5: #5A5A5A;
  --col-wh: #ffffff;
  --fsz: 16px;
  --elem-sz: 70px;
  --bdr-op: 0.1;
}

/* oswald-200 - latin_cyrillic */
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 200;
  src: local(""), url("../fonts/oswald-v49-latin_cyrillic-200.woff2") format("woff2"), url("../fonts/oswald-v49-latin_cyrillic-200.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* oswald-300 - latin_cyrillic */
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/oswald-v49-latin_cyrillic-300.woff2") format("woff2"), url("../fonts/oswald-v49-latin_cyrillic-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* oswald-regular - latin_cyrillic */
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/oswald-v49-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/oswald-v49-latin_cyrillic-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* oswald-500 - latin_cyrillic */
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/oswald-v49-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/oswald-v49-latin_cyrillic-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* oswald-600 - latin_cyrillic */
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/oswald-v49-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/oswald-v49-latin_cyrillic-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* oswald-700 - latin_cyrillic */
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/oswald-v49-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/oswald-v49-latin_cyrillic-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-100 - latin_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 100;
  src: local(""), url("../fonts/raleway-v28-latin_cyrillic-100.woff2") format("woff2"), url("../fonts/raleway-v28-latin_cyrillic-100.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-200 - latin_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 200;
  src: local(""), url("../fonts/raleway-v28-latin_cyrillic-200.woff2") format("woff2"), url("../fonts/raleway-v28-latin_cyrillic-200.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-300 - latin_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/raleway-v28-latin_cyrillic-300.woff2") format("woff2"), url("../fonts/raleway-v28-latin_cyrillic-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-regular - latin_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/raleway-v28-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/raleway-v28-latin_cyrillic-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-500 - latin_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/raleway-v28-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/raleway-v28-latin_cyrillic-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-600 - latin_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/raleway-v28-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/raleway-v28-latin_cyrillic-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-700 - latin_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/raleway-v28-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/raleway-v28-latin_cyrillic-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-800 - latin_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: local(""), url("../fonts/raleway-v28-latin_cyrillic-800.woff2") format("woff2"), url("../fonts/raleway-v28-latin_cyrillic-800.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-100italic - latin_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: italic;
  font-weight: 100;
  src: local(""), url("../fonts/raleway-v28-latin_cyrillic-100italic.woff2") format("woff2"), url("../fonts/raleway-v28-latin_cyrillic-100italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-900 - latin_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../fonts/raleway-v28-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/raleway-v28-latin_cyrillic-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-200italic - latin_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: italic;
  font-weight: 200;
  src: local(""), url("../fonts/raleway-v28-latin_cyrillic-200italic.woff2") format("woff2"), url("../fonts/raleway-v28-latin_cyrillic-200italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-300italic - latin_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: italic;
  font-weight: 300;
  src: local(""), url("../fonts/raleway-v28-latin_cyrillic-300italic.woff2") format("woff2"), url("../fonts/raleway-v28-latin_cyrillic-300italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-italic - latin_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: italic;
  font-weight: 400;
  src: local(""), url("../fonts/raleway-v28-latin_cyrillic-italic.woff2") format("woff2"), url("../fonts/raleway-v28-latin_cyrillic-italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-500italic - latin_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: italic;
  font-weight: 500;
  src: local(""), url("../fonts/raleway-v28-latin_cyrillic-500italic.woff2") format("woff2"), url("../fonts/raleway-v28-latin_cyrillic-500italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-700italic - latin_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: italic;
  font-weight: 700;
  src: local(""), url("../fonts/raleway-v28-latin_cyrillic-700italic.woff2") format("woff2"), url("../fonts/raleway-v28-latin_cyrillic-700italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-600italic - latin_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: italic;
  font-weight: 600;
  src: local(""), url("../fonts/raleway-v28-latin_cyrillic-600italic.woff2") format("woff2"), url("../fonts/raleway-v28-latin_cyrillic-600italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-800italic - latin_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: italic;
  font-weight: 800;
  src: local(""), url("../fonts/raleway-v28-latin_cyrillic-800italic.woff2") format("woff2"), url("../fonts/raleway-v28-latin_cyrillic-800italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-900italic - latin_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: italic;
  font-weight: 900;
  src: local(""), url("../fonts/raleway-v28-latin_cyrillic-900italic.woff2") format("woff2"), url("../fonts/raleway-v28-latin_cyrillic-900italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-100 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-100.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-100.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-100italic - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 100;
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-100italic.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-100italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-300 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-300.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-300italic - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-300italic.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-300italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-italic - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-italic.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500italic - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-500italic.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-500italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700italic - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-700italic.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-700italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-900italic - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 900;
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-900italic.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-900italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html *,
html *::before,
html *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  overflow-x: hidden;
  font-family: var(--ff1);
  line-height: 1.7;
  background-color: var(--col2);
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  color: var(--col-wh);
}

img {
  height: auto;
  max-width: 100%;
}

input,
textarea,
a,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

:focus {
  outline-style: none;
  outline-width: 0px !important;
  outline-color: none !important;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden:not(:focus),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

.swiper-button-next,
.swiper-button-prev {
  border: none;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 50%;
  transition: all 0.3s;
  top: 45.5%;
  z-index: 1;
  /* svg {
    position: relative;
    z-index: 2;
  }

  svg path {
    transition: all 0.3s;
  } */
  /* &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 50%;
    transition-property: left, top, width, height;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 0;
  } */
  /* &:hover {
    background-color: #91C137 !important;

    &::before {
      left: -4px;
      top: -4px;
      width: calc(100% + 8px);
      height: calc(100% + 8px);
      background-color: #91C137;
    }

    svg path {
      stroke: #ffffff;
    }

    svg .cust {
      stroke: none;
      fill: #ffffff;
    }
  } */
  /* &:after {
    display: none;
  } */
  /* @media (max-width: 650px) {
    width: 60px;
    height: 60px;
  } */
}

.swiper-button-disabled {
  opacity: 0 !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  position: absolute;
  color: #000000;
}

.swiper-button-next:after {
  left: 50px;
}

.swiper-button-prev:after {
  right: 50px;
}

@media (max-width: 1024px) {
  .slider-button:after {
    font-size: 30px;
  }
  .swiper-button-next:after {
    left: 22px;
  }
  .swiper-button-prev:after {
    right: 22px;
  }
}
.body {
  min-height: 100vh;
}

.wrapper {
  max-width: 1408px;
  padding: 0 48px;
  width: 100%;
  margin: 0 auto;
  /* @media (max-width: 768px) {
    padding: 0 40px;
  } */
  /* @media (max-width: 650px) {
    padding: 0 20px;
  } */
}
@media (max-width: 1440px) {
  .wrapper {
    padding: 0 20px;
  }
}
@media (max-width: 425px) {
  .wrapper {
    padding: 0 10px;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-family: inherit;
  background-color: var(--col1);
  border-color: var(--col1);
  border: 1px;
  cursor: pointer;
}
.button svg {
  pointer-events: none;
}

.nav-button {
  box-shadow: none;
  transform: none;
  border: none;
  height: var(--elem-sz);
  width: var(--elem-sz);
  background-color: var(--col4);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
}
.nav-button span {
  width: 20px;
  height: 2px;
  background-color: var(--col-wh);
  display: block;
  border-radius: 0 0 3px 3px;
  pointer-events: none;
  transition: all 0.2s;
}
.nav-button span::before, .nav-button span::after {
  content: "";
  width: inherit;
  height: inherit;
  background-color: var(--col-wh);
  display: inherit;
  position: absolute;
  border-radius: inherit;
  pointer-events: initial;
  transition: initial;
}
.nav-button span:before {
  margin-top: -6px;
}
.nav-button span::after {
  margin-top: 6px;
}
.nav-button.open span {
  background-color: transparent;
  border-radius: 0;
}
.nav-button.open span:before {
  margin-top: 0;
  transform: rotate(45deg);
}
.nav-button.open span:after {
  margin-top: 0;
  transform: rotate(-45deg);
}
.nav-button:hover, .nav-button.open {
  background-color: var(--col1);
}

.title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.6;
  color: #1c1c1c;
  margin: 0;
  margin-bottom: 23px;
  font-family: inherit;
}
@media (max-width: 1024px) {
  .title {
    font-size: 36px !important;
    line-height: 1.2;
  }
}
@media (max-width: 768px) {
  .title {
    font-size: 30px !important;
  }
}
@media (max-width: 425px) {
  .title {
    font-size: 26px !important;
  }
}
.title--big {
  font-size: 56px;
  line-height: 1.29 !important;
}
@media (max-width: 1024px) {
  .title--big {
    font-size: 42px !important;
  }
}
@media (max-width: 768px) {
  .title--big {
    font-size: 36px !important;
  }
}
@media (max-width: 425px) {
  .title--big {
    font-size: 28px !important;
  }
}

@media (max-width: 425px) {
  .logo {
    max-width: 60px;
  }
}

.main__flex {
  display: flex;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
  z-index: 5;
}
.header__logo a {
  display: flex;
  align-items: center;
  min-height: var(--elem-sz);
  padding: 0 18px;
  background-color: transparent;
  max-width: max-content;
  transition: all 0.3s;
}
.header__logo a:hover, .header__logo a:active, .header__logo a:focus {
  background-color: var(--col4);
}
.header__logo svg {
  width: 34px;
  height: 33px;
  margin-right: 33px;
}
.header__logo span {
  font-family: var(--ff3);
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  color: var(--col-wh);
  margin: 0;
  padding: 0;
}
.header__contacts {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 160px;
}
.header__contacts::after {
  content: "";
  display: block;
  width: 50px;
  height: 1px;
  background-color: var(--col5);
  position: absolute;
  left: 0;
}
.header__contacts::before {
  content: "";
  display: block;
  width: 50px;
  height: 1px;
  background-color: var(--col5);
  position: absolute;
  right: 0;
}
.header__contacts ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.header__contacts li {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  padding: 9px 24px;
  color: rgba(var(--col-wh), 0.5);
  position: relative;
}
.header__contacts li::after {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background-color: var(--col5);
  position: absolute;
  top: 0;
  right: 0;
}
.header__contacts li:last-child::after {
  display: none;
}
.header__contacts a {
  color: var(--col1);
  font-family: var(--ff3);
  font-style: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
}

.aside {
  height: calc(100vh - var(--elem-sz) - 1px);
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
  max-width: max-content;
  background-color: var(--col3);
  flex-shrink: 0;
  position: relative;
  z-index: 5;
}
.aside__decorate {
  margin-bottom: auto;
  margin-top: 103px;
  padding: 0 15px;
}
.aside__social {
  padding: 0 15px;
}
.aside__social li {
  margin-top: -1px;
}
.aside__social li:first-child {
  margin-top: initial;
}
.aside__social a {
  width: 40px;
  height: 40px;
  border: 1px solid;
  border-color: var(--col5);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  background-color: transparent;
}
.aside__social a svg {
  pointer-events: none;
  opacity: 0.7;
}
.aside__social a:hover, .aside__social a:active {
  border-color: var(--col1);
  background-color: var(--col1);
}
.aside__social a:hover svg, .aside__social a:active svg {
  opacity: 1;
}
.aside__share {
  margin-top: auto;
}
.aside__share .button {
  height: var(--elem-sz);
  width: var(--elem-sz);
  background-color: var(--col1);
  display: flex;
  align-items: center;
  justify-content: center;
}