.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden:not(:focus),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

.swiper-button-next,
.swiper-button-prev {
  border: none;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 50%;
  transition: all 0.3s;
  top: 45.5%;
  z-index: 1;
}

.main {
  height: 100vh;
}

.swiper-button-disabled {
  opacity: 0 !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  position: absolute;
  color: #000000;
}

.swiper-button-next:after {
  left: 50px;
}
.swiper-button-prev:after {
  right: 50px;
}

@media (max-width: 1024px) {
  .slider-button:after {
    font-size: 30px;
  }

  .swiper-button-next:after {
    left: 22px;
}

.swiper-button-prev:after {
  right: 22px;
}
}
