.aside {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
  max-width: max-content;
  background-color: var(--col3);
  position: fixed;
  top: 0;
  left: 0;
  width: var(--elem-sz);
  z-index: 5;
  padding-top: var(--elem-sz);

  &__decorate {
    margin-bottom: auto;
    margin-top: 103px;
    padding: 0 15px;
  }

  &__share {
    margin-top: auto;
    .button {
      height: var(--elem-sz);
      width: var(--elem-sz);
      background-color: var(--col1);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.aside {
  .social-list {
    display: initial;
    border: none;
    li {
      margin-top: -1px;
      margin-left: initial;
      &:first-child {
        margin-top: initial;
      }
    }
    a {
      width: 40px;
      height: 40px;
      border: 1px solid;
      border-color: var(--col5);

      &:hover,
    &:active {
      border-color: var(--col1);
    }
    }
  }
}
