.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-family: inherit;
  background-color: var(--col1);
  border-color: var(--col1);
  border: 1px;
  cursor: pointer;

  svg {
    pointer-events: none;
  }
}
