.social-list {
  background-color: var(--col3);
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  max-width: max-content;
  border-right: 3px solid;
  border-color: var(--col1);
  li {
    margin-top: initial;

    margin: initial;
    margin-left: -1px;

    &:first-child {
      margin-left: initial;
    }
  }
  a {
    width: var(--elem-sz);
    height: var(--elem-sz);
    border-right: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    background-color: transparent;
    border-color: var(--col5);

    svg {
      pointer-events: none;
      opacity: 0.5;
    }

    &:hover,
    &:active {
      border-color: var(--col1);
      background-color: var(--col1);

      svg {
        opacity: 1;
      }
    }
  }
}
